<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
            rel="stylesheet"
        />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap"
            rel="stylesheet"
        />
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
        <link rel="stylesheet" href="/static/css/styles.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />

        <title>Covid Dashboard</title>
    </head>

    <body>
        <div class="dashboard">
            <!--Dashboard-->
            <section class="navigation">
                <!--Navigation-->
                <img
                    class="logo"
                    src="/static/img/Burger-King-Logo-1999.jpg"
                    alt="Company logo"
                />

                <div>
                    <span class="material-icons">dashboard</span>
                    <span class="material-icons-outlined">notifications</span>
                    <span class="material-icons-outlined">trending_up</span>
                    {% if superuser %}
                    <a href="/superuser">
                        <span class="material-icons-outlined">settings</span>
                    </a>
                    {% endif %}
                </div>

                <img
                    class="user"
                    src="/static/img/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg"
                    alt="User Image"
                />
            </section>
            <!--Navigation End-->

            <section class="main">
                <!--Main-->
                <div><h1 style="text-align: center;">Covid Dashboard</h1></div>


                <div class="data_list">
                    
                    <div class="data" id="table_widget">
                        <div>
                            <!-- State Information -->
                            <div class="category category_color1"></div>

                            <div style="display: flex; justify-content: center">
                                <b>State Data</b>
                            </div>
                            <input id="tableDate" type="date" />
                            <select name="categories" id="categories">
                                <option value="cases">Cases</option>
                                <option value="deaths">Deaths</option>
                                <option value="recoveries">Recoveries</option>
                            </select>

                            <button onclick="changeTable();">Update</button>
                            <div id="table"></div>
                        </div>
                    </div>
                    <div>
                        <div id="single_digit_widget" class="data">
                            <!-- Daily Cases/Deaths/Recoveries -->
                            <div class="category category_color2"></div>

                            <div style="display: flex; justify-content: center">
                                <b>National Data&nbsp;&nbsp;&nbsp;</b>
                                <input id="numberDate" type="date" /><button
                                    onclick="changeValues();"
                                >
                                    Update
                                </button>
                            </div>

                            <div id="nationalDataError" style="display: none">
                                <br />
                                <h5 style="text-align: center">
                                    No data for this date
                                </h5>
                            </div>

                            <div id="nationalData">
                                <div>
                                    <div style="width: 12%">
                                        <h3>Cases</h3>
                                    </div>
                                    <div style="width: 20%">
                                        <p
                                            id="cases"
                                            class="numberDisplay"
                                            style="color: #f5b92c"
                                        ></p>
                                    </div>
                                </div>

                                <div>
                                    <div style="width: 13%">
                                        <h3>Deaths</h3>
                                    </div>
                                    <div style="width: 19%">
                                        <p
                                            id="deaths"
                                            class="numberDisplay"
                                            style="color: #f0676c"
                                        ></p>
                                    </div>
                                </div>

                                <div>
                                    <div style="width: 16%">
                                        <h3>Recoveries</h3>
                                    </div>
                                    <div style="width: 16%">
                                        <p
                                            id="recoveries"
                                            class="numberDisplay"
                                            style="color: #66ed9a"
                                        ></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="chart_widgets" class="data">
                            <div class="category category_color3"></div>

                            <div style="display: flex; justify-content: center">
                                <p>
                                    <b>Vaccine Data</b>
                                    from
                                    <input id="graphStart" type="date" /> to
                                    <input id="graphEnd" type="date" />
                                    <button onclick="updateCharts();">
                                        Update
                                    </button>
                                </p>
                            </div>

                            <div id="chartAreaError" style="display: none">
                                <h5 style="text-align: center">
                                    <br /><br /><br /><br /><br /><br />
                                    No data for these dates or Check Your Dates!
                                </h5>
                            </div>

                            <div id="chartArea" class="chart_container">
                                <div>
                                    <div>
                                        <canvas id="dailyPartial"></canvas>
                                    </div>
                                    <div>
                                        <canvas id="dailyFull"></canvas>
                                    </div>
                                </div>

                                <div>
                                    <div>
                                        <canvas id="totalPartial"></canvas>
                                    </div>
                                    <div>
                                        <canvas id="totalFull"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!--Dashboard End-->
        <script src="/static/js/index.js"></script>
        <script src="/static/js/charts_setup.js"></script>
    </body>
</html>
