<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/login.css" />
        <title>Log In</title>
    </head>

    <body>
        <div>
            <form action="/login" method="post">
                <h1 style="text-align: center">Welcome back!</h1>
                <div class="imgcontainer">
                    <img
                        src="/static/img/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg"
                        alt="Avatar"
                        class="avatar"
                    />
                </div>
                {% if invalid %}
                <div class="container">
                    <p>Invalid credentials</p>
                </div>
                {% endif %}
                <div class="container">
                    <label for="uname"><b>Username</b></label>
                    <input
                        type="text"
                        placeholder="Enter Username"
                        name="username"
                        required
                    />

                    <label for="psw"><b>Password</b></label>
                    <input
                        type="password"
                        placeholder="Enter Password"
                        name="password"
                        required
                    />

                    <button type="submit">Login</button>
                </div>
            </form>
        </div>

        <div id="second-half">
            <div>
                <h1 style="margin-bottom: 0">Don't have an account?</h1>
                <h1 style="margin-top: 0">Get one! It's free!</h1>
                <div>
                    <a href="signup">
                        <img src="/static/img/signup.png" id="signup_image"/>
                    </a>
                </div>
                <p>
                    Company offers template and custom dashboard widget designs,
                    see our wide range of services
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                        >here</a
                    >
                </p>
            </div>
        </div>
    </body>
</html>
