body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}
* {
    box-sizing: border-box;
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
    width: 45vw;
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 50%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

#second-half {
    color: white;
    background-color: rgb(179, 198, 243);
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#second-half div *{
    text-align: center;
}

#signup_image {
    width: 40vw;
}


@media screen and (max-width: 610px) {
    body{
        display: block;
    }

    form {
       width: 100%;
    }

    #signup_image{
        width: 80vw;
        margin-top: 20px;
    }

    #second-half{
        width: 100%;
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}
