
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}
* {box-sizing: border-box}

form {
    width: 45vw;
    margin:auto;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

#second-half{
    color:white;
    background-color: rgb(179, 198, 243);
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-video {
    width: 40vw;
}

#video-container{
    text-align: center;
}

#second-half div h1{
    text-align: center;
}

#second-half div p{
    text-align: center;
}


@media screen and (max-width: 610px) {
    body{
        display: block;
    }

    form {
       width: 100%;
    }

    #background-video {
        width: 80vw;
        margin-top: 20px;
    }

    #second-half{
        width: 100%;
    }
}
