*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    margin: 0px;
    background-color: aliceblue;
}

.dashboard{
    padding: 0px 15px;
    margin: 0 auto;
}


/*=========================
Navigation
=========================*/

.dashboard .navigation{
    display:flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.dashboard .navigation img.logo{
    width: 47px;
    height: 47px;
    border-radius: 10px;
}

.dashboard .navigation img.user{
    width: 47px;
    height: 47px;
    border-radius: 10px;
}

.dashboard .navigation div a {
    text-decoration: none;
}

.dashboard .navigation div .material-icons, .material-icons-outlined{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 30px;
    color: rgb(128, 112, 112);
}

.dashboard .navigation div {
    margin: auto 0;
}

/*=========================
Main Dashboard
=========================*/

/* My Project */
.dashboard .main .title{
    margin-bottom: 30px;
    font-size: 20px;
}

.dashboard .main{
    margin-top: 10px;
}

/* Data List */


.dashboard .main .data_list .data{
    padding: 15px 15px 15px 60px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 20px;
    position: relative;
}

.dashboard .main .data_list .data .numberDisplay {
    font-size: 35px;
    margin: 0px;
}

.dashboard section.main .data_list .chart{
    padding: 20px 20px 20px 30px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 20px;
}

.dashboard section.main .data_list .long_chart{
    padding: 20px 20px 20px 60px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 20px;
}

.dashboard .main .data_list .category{
    width: 30px;
    height: 50px;
    background-color: rebeccapurple;
    border-radius: 0px 10px 10px 0px;
    position: absolute;
    left: 0;
}

.category_color1{
    background-color: rebeccapurple !important;
}

.category_color2{
    background-color: sandybrown !important;
}

.category_color3{
    background-color: lightcyan !important;
}

.dashboard .main .data_list .chart_container .asdfasdf{
    width: 80vw;
    height: 350px;
    padding: 20px 20px 20px 20px;
    background-color: white;
    border-radius: 20px;
    position: relative;
}

#table_widget{
    height: 550px;
    width: 90vw;
}

#single_digit_widget{
    width: 90vw;
}


/* =======================
Media Query 768px
========================*/
@media only screen and (min-width: 768px){
    .dashboard section.main .data_list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .dashboard section.main .data_list .data{
        box-shadow: 1px 2px rgb(211, 205, 205);
    }

    #single_digit_widget #nationalData{
        display: flex;
        justify-content: space-between;
    }
}

/* =======================
Media Query 1224px
========================*/
@media only screen and (min-width: 1224px){
    .dashboard .navigation,
    .dashboard .navigation div span{
        display: block;
    }

    #table_widget{
        width:380px;
    }

    #single_digit_widget{
        width: 650px;
    }
    #chart_widgets{
        width: 650px;
    }
    .chart_container{
        display: flex;
        justify-content: center;
    }

    .dashboard .navigation{
        width: 50px;
        position: fixed;
        top: 10px;
        left: 0;
        z-index: 10;
        background-color: white;
        border-radius: 0 30px 30px 0;
        border: 2px solid rgb(230, 223, 223);
        height: 97vh;
        margin: 0;
    }

    .dashboard .navigation img{
        margin-top: 5vh;
    }

    .dashboard section.main{
        margin-left: 80px;
    }

    .dashboard .navigation div{
        margin-top: 16vh;
        margin-bottom: 16vh;
    }

    .dashboard .navigation div span{
        margin-top: 5vh;
    }
}

/*=========================
Super User Page
=========================*/
.dashboard .main .data_list .data #userData table {
    width: 100%;
}

.dashboard .main .data_list .data #userData th {
    text-align: left;
    padding: 0 15px;
    width: 20%;
}

.dashboard .main .data_list .data #userData td {
    text-align: left;
    padding: 0 15px;
}
